environment             = "staging"
owner                   = "schemasprint"
expiry                  = ""
cloudflare_account_id   = "00000000000000000000000000000000"
cloudflare_zone_id      = "00000000000000000000000000000000"
api_hostname            = "staging-api.example.com"
api_base_url            = "https://staging-api.example.com/api"
enable_paid_runtime     = false
enable_production_route = false
